<h1>Información adicional</h1>
<p>
 ¿Qué es un Quiz?
El quiz es un juego iterativo que fórmula una serie de preguntas que el usuario tiene que respoonder. En caso de fallo, el servidor devuelve la respuesta correcta, en caso de acierto se señaliza con un tick.
¿Cómo se responde?
Debajo de la pregunta le aparecerá un rectángulo en blanco donde tendrá que escribir su respuesta.
¿Cúal es nuestra finalidad?
Nuestra finalidad es promover el conocimiento, sobre todo a nivel escolar. Consideramos este juego una nueva forma de aprender divirtiéndose.
</p>
